<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hud-button-bezel-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1206</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>134</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>427</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>432</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-highlighted-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1089</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-highlighted-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>328</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-highlighted-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>771</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>1064</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-center</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>151</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>553</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>59</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>984</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-highlighted-center</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>149</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-highlighted-left</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>650</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-highlighted-right</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>561</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-left</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>202</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-rounded-right</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>121</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-button-bezel-small-right</key>
	<dict>
		<key>h</key>
		<integer>20</integer>
		<key>w</key>
		<integer>3</integer>
		<key>x</key>
		<integer>1060</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-check-box-image</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>628</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-check-box-image-highlighted</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>468</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-check-box-image-mixed</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>1177</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-check-box-image-mixed-highlighted</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-check-box-image-selected</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>824</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-check-box-image-selected-highlighted</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>903</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>695</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>278</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>1095</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>498</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-highlighted-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1087</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-highlighted-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>742</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-highlighted-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>697</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>1100</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>116</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-center</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>215</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>626</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>162</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>361</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-highlighted-center</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1085</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-highlighted-left</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>25</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-highlighted-right</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>72</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-left</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>1033</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-default-button-bezel-rounded-right</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>12</integer>
		<key>x</key>
		<integer>797</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-horizontal-track-center</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>155</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-horizontal-track-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>85</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-horizontal-track-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>2</integer>
		<key>x</key>
		<integer>981</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-horizontal-track-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>2</integer>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-horizontal-track-left</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>2</integer>
		<key>x</key>
		<integer>136</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-horizontal-track-right</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>2</integer>
		<key>x</key>
		<integer>1105</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-knob</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>747</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-knob-disabled</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>586</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-knob-highlighted</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>927</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-bar-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>810</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-bar-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>718</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-bar-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>395</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-bezel-border-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>769</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-bezel-border-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>997</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-bezel-border-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>848</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-indeterminate-bar-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>20</integer>
		<key>x</key>
		<integer>374</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-indeterminate-bar-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>668</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-progress-indicator-indeterminate-bar-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>87</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-radio-image</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>89</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-radio-image-highlighted</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>1139</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-radio-image-selected</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>850</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-radio-image-selected-highlighted</key>
	<dict>
		<key>h</key>
		<integer>21</integer>
		<key>w</key>
		<integer>21</integer>
		<key>x</key>
		<integer>256</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-down-arrow</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>43</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-down-arrow-disabled</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>702</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-down-arrow-highlighted</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>610</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-horizontal-knob-center</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>175</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-horizontal-knob-left</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>11</integer>
		<key>x</key>
		<integer>1015</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-horizontal-knob-right</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>11</integer>
		<key>x</key>
		<integer>574</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-horizontal-track</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>846</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-horizontal-track-disabled</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>248</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-left-arrow</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>24</integer>
		<key>x</key>
		<integer>177</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-left-arrow-disabled</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>24</integer>
		<key>x</key>
		<integer>670</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-left-arrow-highlighted</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>24</integer>
		<key>x</key>
		<integer>874</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-right-arrow</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>24</integer>
		<key>x</key>
		<integer>528</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-right-arrow-disabled</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>24</integer>
		<key>x</key>
		<integer>1114</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-right-arrow-highlighted</key>
	<dict>
		<key>h</key>
		<integer>15</integer>
		<key>w</key>
		<integer>24</integer>
		<key>x</key>
		<integer>503</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-up-arrow</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>999</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-up-arrow-disabled</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>1069</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-up-arrow-highlighted</key>
	<dict>
		<key>h</key>
		<integer>24</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>339</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-vertical-knob-bottom</key>
	<dict>
		<key>h</key>
		<integer>10</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>960</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-vertical-knob-center</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>307</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-vertical-knob-top</key>
	<dict>
		<key>h</key>
		<integer>10</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>291</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-vertical-track</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>726</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-scroller-vertical-track-disabled</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>15</integer>
		<key>x</key>
		<integer>1161</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>425</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>608</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-disabled-divider</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>490</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>38</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>1199</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-divider</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1058</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1091</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>901</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-disabled-divider</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>872</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-disabled-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>286</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-disabled-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>144</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-divider</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1093</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>976</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-highlighted-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>663</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>323</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-pushed-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>153</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-pushed-highlighted-center</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>925</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-pushed-highlighted-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>111</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-pushed-highlighted-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>157</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-pushed-left</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>955</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-pushed-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>397</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-segmented-control-bezel-right</key>
	<dict>
		<key>h</key>
		<integer>25</integer>
		<key>w</key>
		<integer>4</integer>
		<key>x</key>
		<integer>1208</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-slider-circular-bezel</key>
	<dict>
		<key>h</key>
		<integer>30</integer>
		<key>w</key>
		<integer>30</integer>
		<key>x</key>
		<integer>437</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-slider-circular-disabled-bezel</key>
	<dict>
		<key>h</key>
		<integer>30</integer>
		<key>w</key>
		<integer>30</integer>
		<key>x</key>
		<integer>217</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-slider-circular-disabled-knob</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>818</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-slider-circular-knob</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>492</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-vertical-track-bottom</key>
	<dict>
		<key>h</key>
		<integer>3</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>333</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-vertical-track-center</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>1046</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-vertical-track-disabled-bottom</key>
	<dict>
		<key>h</key>
		<integer>3</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>355</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-vertical-track-disabled-center</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>1027</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-vertical-track-disabled-top</key>
	<dict>
		<key>h</key>
		<integer>3</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>1052</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-vertical-track-top</key>
	<dict>
		<key>h</key>
		<integer>3</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>555</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-bottom-center</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>1204</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-bottom-left</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-bottom-right</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>280</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-center-center</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>899</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-center-left</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>949</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-center-right</key>
	<dict>
		<key>h</key>
		<integer>1</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>1108</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-top-center</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>402</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-top-left</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>812</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-bezel-top-right</key>
	<dict>
		<key>h</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
		<key>x</key>
		<integer>720</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-close</key>
	<dict>
		<key>h</key>
		<integer>20</integer>
		<key>w</key>
		<integer>20</integer>
		<key>x</key>
		<integer>404</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>hud-window-close-active</key>
	<dict>
		<key>h</key>
		<integer>20</integer>
		<key>w</key>
		<integer>20</integer>
		<key>x</key>
		<integer>776</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
